# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out
*.tsbuildinfo

# Cache
.turbo
.cache
.eslintcache

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Testing
coverage

# Mobile
.expo
.eas
android
ios

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
bun.lock
